<% content_for :background do %>
  <div class="bg-full" id="bg-about"></div>
<% end %>

  <h3>My Messages</h3>

  <div class="conversations">
    <% if @conversations.empty? %>
      <h4>You have no messages</h4>
    <% else %>
      <% @conversations.each do |conversation| %>
      <div class="conversations">
  
          <%= link_to '<span class="message-name">' + conversation.with.to_s + '</span><span class="message-subject">' + conversation.subject.to_s + '</span>', message_path(conversation.id) %>
  
        </div>
  <% end %>
    <% end %>

  </div>