<% if @event.errors.any? %>
<div id="error_explanation">
  <ul>  
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>  
</div>
<% end %>

<%= form_for @event, url: admin_events_path do |e| %>
  <%= render "form_fields", e: e %>

  <%= e.submit "Create Event", id: "create-event" %>
<% end %>
