---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4CKcopdQA6TpLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1402432485,
          "id": "cus_4CKcopdQA6TpLA",
          "livemode": false,
          "description": "34",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4CKcopdQA6TpLA/subscriptions",
            "data": [
              {
                "id": "sub_4CKcX10M49Xgsx",
                "plan": {
                  "interval": "year",
                  "name": "Annual Subscription",
                  "created": 1401370923,
                  "amount": 6999,
                  "currency": "usd",
                  "id": "annual",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1402432485,
                "status": "active",
                "customer": "cus_4CKcopdQA6TpLA",
                "cancel_at_period_end": false,
                "current_period_start": 1402432485,
                "current_period_end": 1433968485,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4CKcopdQA6TpLA/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Tue, 08 Jul 2014 20:47:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4CKcopdQA6TpLA/subscriptions/sub_4CKcX10M49Xgsx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    bod[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=2500&currency=usd&customer=cus_4CKcopdQA6TpLA&description=CastNotice%20Critique&metadata[user_id]=1
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Cannot charge a customer that has no active card",
            "type": "card_error",
            "param": "card",
            "code": "missing"
          }
        }
  recorded_at: Tue, 08 Jul 2014 20:47:35 GMT
- request:
    method: get
    uri: https://js.stripe.com/v2/channel.html?stripe_xdm_c=default41639&stripe_xdm_e=http://127.0.0.1:52063&stripe_xdm_p=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Fri, 27 Feb 2015 00:44:32 GMT
      Etag:
      - '"54efbdf0-459"'
    body:
      encoding: UTF-8
      string: |
        <!doctype html>
        <html>
        <head>
        <title>Stripe Internal Communication Channel</title>
        <script>
        if ('postMessage' in window) {
          var stripeTrack = function(type) {
            var timestamp = Math.round(new Date().getTime() / 1000);
            var report = (new Image()).src = "https://q.stripe.com?event=stripejs-error&type=" +
              encodeURIComponent(type) +
              "&timestamp=" + timestamp +
              "&payment_user_agent=channel.html";
          };

          if (window.parent === window) {
            stripeTrack('ChannelParentError');
            window.Stripe = {earlyError: true};
          }
          else {
            window.onload = function() {
              var matches = window.location.search.match(/(\?|&)stripe_xdm_e=([^&]+)/);
              if (matches && matches.length >= 3) {
                var outerdomain = decodeURIComponent(matches[2]);
                try {
                  window.parent.postMessage('stripe:ack', outerdomain);
                }
                catch(e) {
                  stripeTrack('ChannelAckError-' + e.toString());
                }
              }
              else {
                stripeTrack('ChannelUrlError');
              }
            }
          }
        }
        </script>
        </head>
        <body>
        <script src="https://js.stripe.com/v2/"></script>
        </body>
        </html>
  recorded_at: Tue, 10 Mar 2015 19:58:40 GMT
[...]
