---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_47oUnsvWTQWwPs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1401390384,
          "id": "cus_47oUnsvWTQWwPs",
          "livemode": false,
          "description": "1",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 6,
            "has_more": false,
            "url": "/v1/customers/cus_47oUnsvWTQWwPs/subscriptions",
            "data": [
              {
                "id": "sub_4Mo72MSaDnWJdO",
                "plan": {
                  "interval": "year",
                  "name": "Broadway Breakthrough Annual Subscription",
                  "created": 1401370924,
                  "amount": 5999,
                  "currency": "usd",
                  "id": "broadway",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1404848633,
                "status": "active",
                "customer": "cus_47oUnsvWTQWwPs",
                "cancel_at_period_end": false,
                "current_period_start": 1404848633,
                "current_period_end": 1436384633,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              },
              {
                "id": "sub_4CFLiZFRyp52ya",
                "plan": {
                  "interval": "month",
                  "name": "Monthly Subscription",
                  "created": 1401370922,
                  "amount": 799,
                  "currency": "usd",
                  "id": "monthly",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
            [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_47oUnsvWTQWwPs/subscriptions/sub_4CFLiZFRyp52ya
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    bod[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=2500&currency=usd&customer=cus_47oUnsvWTQWwPs&description=CastNotice%20Critique&metadata[user_id]=1
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14E4np41K0MV6J6EXUuWhttu",
          "object": "charge",
          "created": 1404849781,
          "livemode": false,
          "paid": true,
          "amount": 2500,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_1047oT41K0MV6J6EfSLTHTKS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2017,
            "fingerprint": "BuGq8s8XZQ7sYxMZ",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_47oUnsvWTQWwPs",
            "type": "Visa"
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_14E4nq41K0MV6J6EheKA4qva",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_47oUnsvWTQWwPs",
          "invoice": null,
          "description": "CastNotice Critique",
          "dispute": null,
          "metadata": {
            "user_id": "1"
          },
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Tue, 08 Jul 2014 20:03:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_47oUnsvWTQWwPs/subscriptions/sub_4Mo72MSaDnWJdO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    bod[...]
[...]
- request:
    method: get
    uri: https://js.stripe.com/v2/channel.html?stripe_xdm_c=default472187&stripe_xdm_e=http://127.0.0.1:53752&stripe_xdm_p=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Fri, 27 Feb 2015 00:44:32 GMT
      Etag:
      - '"54efbdf0-459"'
    body:
      encoding: UTF-8
      string: |
        <!doctype html>
        <html>
        <head>
        <title>Stripe Internal Communication Channel</title>
        <script>
        if ('postMessage' in window) {
          var stripeTrack = function(type) {
            var timestamp = Math.round(new Date().getTime() / 1000);
            var report = (new Image()).src = "https://q.stripe.com?event=stripejs-error&type=" +
              encodeURIComponent(type) +
              "&timestamp=" + timestamp +
              "&payment_user_agent=channel.html";
          };

          if (window.parent === window) {
            stripeTrack('ChannelParentError');
            window.Stripe = {earlyError: true};
          }
          else {
            window.onload = function() {
              var matches = window.location.search.match(/(\?|&)stripe_xdm_e=([^&]+)/);
              if (matches && matches.length >= 3) {
                var outerdomain = decodeURIComponent(matches[2]);
                try {
                  window.parent.postMessage('stripe:ack', outerdomain);
                }
                catch(e) {
                  stripeTrack('ChannelAckError-' + e.toString());
                }
              }
              else {
                stripeTrack('ChannelUrlError');
              }
            }
          }
        }
        </script>
        </head>
        <body>
        <script src="https://js.stripe.com/v2/"></script>
        </body>
        </html>
  recorded_at: Wed, 18 Mar 2015 15:41:43 GMT
recorded_with: VCR 2.9.3
