---
http_interactions:
- request:
    method: get
    uri: http://fonts.googleapis.com/css?family=Open%20Sans:400,300,600
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        @font-face {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 300;
          src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTZS3E-kSBmtLoNJPDtbj2Pk.ttf) format('truetype');
        }
        @font-face {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3SZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
        }
        @font-face {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 600;
          src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSpS3E-kSBmtLoNJPDtbj2Pk.ttf) format('truetype');
        }
  recorded_at: Wed, 08 Apr 2015 19:15:37 GMT
- request:
    method: get
    uri: http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/css
      Last-Modified:
      - Thu, 13 Feb 2014 17:33:52 GMT
      Etag:
      - '"03cbc5dc0b5b117264ae74515cd3fb76"'
      X-Hello-Human:
      - 'You should work for us! Email: jdorfman+theheader@maxcdn.com or @MaxCDNDeveloper
        on Twitter'
    body:
      encoding: UTF-8
      string: |
        /*!
         * Bootstrap v3.1.1 (http://getbootstrap.com)
         * Copyright 2011-2014 Twitter, Inc.
         * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
         */

        /*! normalize.css v3.0.0 | MIT License | git.io/normalize */
        html {
          font-family: sans-serif;
          -webkit-text-size-adjust: 100%;
              -ms-text-size-adjust: 100%;
        }
        body {
          margin: 0;
        }
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        main,
        nav,
        section,
        summary {
          display: block;
        }
        audio,
        canvas,
        progress,
        video {
          display: inline-block;
          vertical-align: baseline;
        }
        audio:not([controls]) {
          display: none;
          height: 0;
        }
        [hidden],
        template {
          display: none;
        }
        a {
          background: transparent;
        }
        a:active,
        a:hover {
          outline: 0;
        }
        abbr[title] {
          border-bottom: 1px dotted;
        }
        b,
        strong {
          font-weight: bold;
        }
        dfn {
          font-style: italic;
        }
        h1 {
          margin: .67em 0;
          font-size: 2em;
        }
        mark {
          color: #000;
          background: #ff0;
        }
        small {
          font-size: 80%;
        }
        sub,
        sup {
          position: relative;
          font-size: 75%;
          line-height: 0;
          vertical-align: baseline;
        }
        sup {
          top: -.5em;
        }
        sub {
          bottom: -.25em;
        }
        img {
          border: 0;
        }
        svg:not(:root) {
          overflow: hidden;
        }
        figure {
          margin: 1em 40px;
        }
        hr {
          height: 0;
          -moz-box-sizing: content-box;
               box-sizing: content-box;
        }
        pre {
          overflow: auto;
        }
        code,
        kbd,
        pre,
        samp {
          font-family: monospace, monospace;
          font-size: 1em;
        }
        button,
        input,
        optgroup,
        select,
        textarea {
          margin: 0;
          font: inherit;
          color: inherit;
        }
        button {
          overflow: visible;
        }
        button,
        select {
          text-transform: none;
        }
        button,
        html input[type="button"],
        input[type="reset"],
        input[type="submit"] {
          -webkit-appearance: button;
          cursor: pointer;
        }
        button[disabled],
        html input[disabled] {
          cursor: default;
        }
        button::-moz-focus-inner,
        input::-moz-focus-inner {
          padding: 0;
          border: 0;
        }
        input {
          line-height: normal;
        }
        input[type="checkbox"],
        input[type="radio"] {
          box-sizing: border-box;
          padding: 0;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          height: auto;
        }
        input[type="search"] {
          -webkit-box-sizing: content-box;
             -moz-box-sizing: content-box;
                  box-sizing: content-box;
          -webkit-appearance: textfield;
        }
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration {
          -webkit-appearance: none;
        }
        fieldset {
          padding: .35em .625em .75em;
          margin: 0 2px;
          border: 1px solid #c0c0c0;
        }
        legend {
          padding: 0;
          border: 0;
        }
        textarea {
          overflow: auto;
        }
        optgroup {
          font-weight: bold;
        }
        table {
          border-spacing: 0;
          border-collapse: collapse;
        }
        td,
        th {
          padding: 0;
        }
        @media print {
          * {
            color: #000 !important;
            text-shadow: none !important;
            background: transparent !important;
            box-shadow: none !important;
          }
          a,
          a:visited {
            text-decoration: underline;
          }
          a[href]:after {
            content: " (" attr(href) ")";
          }
          abbr[title]:after {
            content: " (" attr(title) ")";
          }
          a[href^="javascript:"]:after,
          a[href^="#"]:after {
            content: "";
          }
          pre,
          blockquote {
            border: 1px solid #999;

            page-break-inside: avoid;
          }
          thead {
            display: table-header-group;
          }
          tr,
          img {
            page-break-inside: avoid;
          }
          img {
            max-width: 100% !important;
          }
          p,
          h2,
          h3 {
            orphans: 3;
            widows: 3;
          }
          h2,
          h3 {
            page-break-after: avoid;
          }
          select {
            background: #fff !important;
          }
          .navbar {
            display: none;
          }
          .table td,
          .table th {
            background-color: #fff !important;
          }
          .btn > .caret,
          .dropup > .btn > .caret {
            border-top-color: #000 !important;
          }
          .label {
            border: 1px solid #000;
          }
          .table {
            border-collapse: collapse !important;
          }
          .table-bordered th,
          .table-bordered td {
            border: 1px solid #ddd !important;
          }
        }
        * {
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }
        *:before,
        *:after {
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }
        html {
          font-size: 62.5%;

          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        body {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 14px;
          line-height: 1.42857143;
          color: #333;
          background-color: #fff;
        }
        input,
        button,
        select,
        textarea {
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
        }
        a {
          color: #428bca;
          text-decoration: none;
        }
        a:hover,
        a:focus {
          color: #2a6496;
          text-decoration: underline;
        }
        a:focus {
          outline: thin dotted;
          outline: 5px auto -webkit-focus-ring-color;
          outline-offset: -2px;
        }
        figure {
          margin: 0;
        }
        img {
          vertical-align: middle;
        }
        .img-responsive,
        .thumbnail > img,
        .thumbnail a > img,
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
          display: block;
          max-width: 100%;
          height: auto;
        }
        .img-rounded {
          border-radius: 6px;
        }
        .img-thumbnail {
          display: inline-block;
          max-width: 100%;
          height: auto;
          padding: 4px;
          line-height: 1.42857143;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          -webkit-transition: all .2s ease-in-out;
                  transition: all .2s ease-in-out;
        }
        .img-circle {
          border-radius: 50%;
        }
        hr {
          margin-top: 20px;
          margin-bottom: 20px;
          border: 0;
          border-top: 1px solid #eee;
        }
        .sr-only {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
          font-family: inherit;
          font-weight: 500;
          line-height: 1.1;
          color: inherit;
        }
        h1 small,
        h2 small,
        h3 small,
        h4 small,
        h5 small,
        h6 small,
        .h1 small,
        .h2 small,
        .h3 small,
        .h[...]
- request:
    method: get
    uri: http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Thu, 13 Feb 2014 17:34:04 GMT
      Etag:
      - '"c1eff7b72ea8c15a787bd03b63d82f08"'
      X-Hello-Human:
      - 'You should work for us! Email: jdorfman+theheader@maxcdn.com or @MaxCDNDevelop[...]
- request:
    method: get
    uri: https://js.stripe.com/v1/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript
      Last-Modified:
      - Fri, 27 Feb 2015 00:44:32 GMT
      Etag:
      - '"54efbdf0-a960"'
    body:
      encoding: UTF-8
      string: "/*! stripe-js 27-02-2015 */\n(function(){var a,b,c,d,e,f,g,h,i,j={}.hasOwnProperty,k=function(a,b){function
[...]
- request:
    method: get
    uri: http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3SZ2oysoEQEeKwjgmXLRnTc.ttf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/ttf
      Last-Modified:
      - Thu, 21 Aug 2014 18:06:16 GMT
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAEAAAAPAIAAAwBwR0RFRgAAAAAAA[...]
- request:
    method: get
    uri: https://js.stripe.com/v2/channel.html?stripe_xdm_c=default644431&stripe_xdm_e=http://127.0.0.1:58974&stripe_xdm_p=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Fri, 27 Feb 2015 00:44:32 GMT
      Etag:
      - '"54efbdf0-459"'
    body:
      encoding: UTF-8
      string: |
        <!doctype html>
        <html>
        <head>
        <title>Stripe Internal Communication Channel</title>
        <script>
        if ('postMessage' in window) {
          var stripeTrack = function(type) {
            var timestamp = Math.round(new Date().getTime() / 1000);
            var report = (new Image()).src = "https://q.stripe.com?event=stripejs-error&type=" +
              encodeURIComponent(type) +
              "&timestamp=" + timestamp +
              "&payment_user_agent=channel.html";
          };

          if (window.parent === window) {
            stripeTrack('ChannelParentError');
            window.Stripe = {earlyError: true};
          }
          else {
            window.onload = function() {
              var matches = window.location.search.match(/(\?|&)stripe_xdm_e=([^&]+)/);
              if (matches && matches.length >= 3) {
                var outerdomain = decodeURIComponent(matches[2]);
                try {
                  window.parent.postMessage('stripe:ack', outerdomain);
                }
                catch(e) {
                  stripeTrack('ChannelAckError-' + e.toString());
                }
              }
              else {
                stripeTrack('ChannelUrlError');
              }
            }
          }
        }
        </script>
        </head>
        <body>
        <script src="https://js.stripe.com/v2/"></script>
        </body>
        </html>
  recorded_at: Wed, 08 Apr 2015 19:15:37 GMT
- request:
    method: get
    uri: http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTZS3E-kSBmtLoNJPDtbj2Pk.ttf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/ttf
      Last-Modified:
      - Thu, 21 Aug 2014 18:06:46 GMT
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAEAAAAPAIAAAwBwR0RFRgAAAAAAA[...]
- request:
    method: get
    uri: http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSpS3E-kSBmtLoNJPDtbj2Pk.ttf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/ttf
      Last-Modified:
      - Thu, 21 Aug 2014 18:07:56 GMT
      Alternate-Protocol:
      - 80:quic,p=0.5
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        AAEAAAAPAIAAAwBwR0RFRgAAAAAAA[...]
[...]
- request:
    method: get
    uri: https://js.stripe.com/v1/
    body:
      encoding: UTF-8
      string: ''
    headers:
      If-None-Match:
      - '"54efbdf0-a960"'
      If-Modified-Since:
      - Fri, 27 Feb 2015 00:44:32 GMT
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Last-Modified:
      - Fri, 27 Feb 2015 00:44:32 GMT
      Etag:
      - '"54efbdf0-a960"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Apr 2015 19:15:38 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: key=pk_test_XLo4NUHxqIwzzInv46IcgOBV&payment_user_agent=stripe.js%2Fbebcbe6&card[number]=4242424242424242&card[cvc]=123&card[exp_month]=01&card[exp_year]=2017
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15pOeD4lYm2v4Jd4VlyMo257",
          "livemode": false,
          "created": 1428520537,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15pOeD4lYm2v4Jd4JobFBNZY",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2017,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "fingerprint": "9HJy8YhCzlRakgz6",
            "type": "Visa",
            "customer": null
          },
          "client_ip": "70.89.14.189"
        }
  recorded_at: Wed, 08 Apr 2015 19:15:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15pOeD4lYm2v4Jd4VlyMo257&description=1
    headers:
      Authorization:
      - Bearer sk_test_blpKAbBE1lt9KRi5kUzWUpxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428520537,
          "id": "cus_61RXAd9avqFOQh",
          "livemode": false,
          "description": "1",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_61RXAd9avqFOQh/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_61RXAd9avqFOQh/cards",
            "data": [
              {
                "id": "card_15pOeD4lYm2v4Jd4JobFBNZY",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "9HJy8YhCzlRakgz6",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_61RXAd9avqFOQh",
                "type": "Visa"
              }
            ]
          },
          "default_card": "card_15pOeD4lYm2v4Jd4JobFBNZY",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_61RXAd9avqFOQh/sources",
            "data": [
              {
                "id": "card_15pOeD4lYm2v4Jd4JobFBNZY",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "9HJy8YhCzlRakgz6",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_61RXAd9avqFOQh",
                "type": "Visa"
              }
            ]
          },
          "default_source": "card_15pOeD4lYm2v4Jd4JobFBNZY"
        }
  recorded_at: Wed, 08 Apr 2015 19:15:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_61RXAd9avqFOQh/subscriptions
    body:
      encoding: US-ASCII
      string: plan=annual
    headers:
      Authorization:
      - Bearer sk_test_blpKAbBE1lt9KRi5kUzWUpxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_61RXLCNaXofTm5",
          "plan": {
            "interval": "year",
            "name": "Annual Subscription",
            "created": 1428334811,
            "amount": 6999,
            "currency": "usd",
            "id": "annual",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_descriptor": null,
            "statement_description": null
          },
          "object": "subscription",
          "start": 1428520538,
          "status": "active",
          "customer": "cus_61RXAd9avqFOQh",
          "cancel_at_period_end": false,
          "current_period_start": 1428520538,
          "current_period_end": 1460142938,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "tax_percent": null,
          "metadata": {}
        }
  recorded_at: Wed, 08 Apr 2015 19:15:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_61RXAd9avqFOQh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_blpKAbBE1lt9KRi5kUzWUpxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_61RXAd9avqFOQh/subscriptions/sub_61RXLCNaXofTm5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_blpKAbBE1lt9KRi5kUzWUpxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-05-19'
    body:
      encod[...]
[...]
