---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_47oUnsvWTQWwPs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1401390384,
          "id": "cus_47oUnsvWTQWwPs",
          "livemode": false,
          "description": "1",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_47oUnsvWTQWwPs/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_47oUnsvWTQWwPs/cards",
            "data": [
              {
                "id": "card_1047oT41K0MV6J6EfSLTHTKS",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "BuGq8s8XZQ7sYxMZ",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": null,
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_47oUnsvWTQWwPs"
              }
            ]
          },
          "default_card": "card_1047oT41K0MV6J6EfSLTHTKS"
        }
  recorded_at: Tue, 03 Jun 2014 15:25:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_47oUnsvWTQWwPs/subscriptions
    body:
      encoding: US-ASCII
      string: plan=monthly
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_49dSVYmokuBR0P",
          "plan": {
            "interval": "month",
            "name": "Monthly Subscription",
            "created": 1401370922,
            "amount": 799,
            "currency": "usd",
            "id": "monthly",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1401810630,
          "status": "active",
          "customer": "cus_47oUnsvWTQWwPs",
          "cancel_at_period_end": false,
          "current_period_start": 1401810630,
          "current_period_end": 1404402630,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Tue, 03 Jun 2014 15:50:31 GMT
recorded_with: VCR 2.9.2
