---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=fake_token&description=1
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Invalid token id: fake_token"
          }
        }
  recorded_at: Thu, 29 May 2014 19:18:58 GMT
- request:
    method: get
    uri: https://js.stripe.com/v2/channel.html?stripe_xdm_c=default397347&stripe_xdm_e=http://127.0.0.1:57674&stripe_xdm_p=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Fri, 27 Feb 2015 00:44:32 GMT
      Etag:
      - '"54efbdf0-459"'
    body:
      encoding: UTF-8
      string: |
        <!doctype html>
        <html>
        <head>
        <title>Stripe Internal Communication Channel</title>
        <script>
        if ('postMessage' in window) {
          var stripeTrack = function(type) {
            var timestamp = Math.round(new Date().getTime() / 1000);
            var report = (new Image()).src = "https://q.stripe.com?event=stripejs-error&type=" +
              encodeURIComponent(type) +
              "&timestamp=" + timestamp +
              "&payment_user_agent=channel.html";
          };

          if (window.parent === window) {
            stripeTrack('ChannelParentError');
            window.Stripe = {earlyError: true};
          }
          else {
            window.onload = function() {
              var matches = window.location.search.match(/(\?|&)stripe_xdm_e=([^&]+)/);
              if (matches && matches.length >= 3) {
                var outerdomain = decodeURIComponent(matches[2]);
                try {
                  window.parent.postMessage('stripe:ack', outerdomain);
                }
                catch(e) {
                  stripeTrack('ChannelAckError-' + e.toString());
                }
              }
              else {
                stripeTrack('ChannelUrlError');
              }
            }
          }
        }
        </script>
        </head>
        <body>
        <script src="https://js.stripe.com/v2/"></script>
        </body>
        </html>
  recorded_at: Mon, 16 Mar 2015 20:23:39 GMT
[...]
