---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1047oT41K0MV6J6EJZBa075P&description=1
    headers:
      Authorization:
      - Bearer sk_test_mCsq5DgmBtgwjx4wrrqB64l0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1401390384,
          "id": "cus_47oUnsvWTQWwPs",
          "livemode": false,
          "description": "1",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_47oUnsvWTQWwPs/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_47oUnsvWTQWwPs/cards",
            "data": [
              {
                "id": "card_1047oT41K0MV6J6EfSLTHTKS",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "BuGq8s8XZQ7sYxMZ",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": null,
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_47oUnsvWTQWwPs"
              }
            ]
          },
          "default_card": "card_1047oT41K0MV6J6EfSLTHTKS"
        }
  recorded_at: Thu, 29 May 2014 19:06:24 GMT
recorded_with: VCR 2.9.2
