<div class="castnotice-calendar">
  <h1>Calendar</h1>
  <div class="calendar-events">

  </div>
  <div class="calendar-controls">
    <div id="calendar-datepicker"></div>
    <div class="calendar-filters">
      <h1>Filter your results:</h1>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    calendarBuild();
  });
</script>