<%= link_to "Add Roll", new_admin_event_roll_path(@event) %>

<% @rolls.each do |roll| %>
  <div class="roll">
    <p class="description"><%= roll.description %></p>
    <%= link_to "Edit", edit_admin_event_roll_path(@event, roll) %>
    <%= link_to "Delete", admin_event_roll_path(@event, roll), method: :delete, confirm: "Are you sure?" %>
  </div>
<% end %>
