<p>Hi,</p>

<p>We would like to personally invite you to join CastNotice. To thank you we want to pay you for your time and services.</p>

<p>CastNotice is a revolutionary new internet universe created to foster talent by providing constructive critiques to acting, singing, dance and modeling videos from leading entertainment industry professionals, university, colleges and artistic institutions.</p>

<p>With CastNotice you will:</p>
<ul>
<li>Earn $150 an hour / $20 for each 6 minute critique right from your computer</li>
<li>Upload your audition notice into our casting calendar for free</li>
<li>Cast your projects or find new clients with our professionally curated talent database</li>
<li>Talent videos, pictures and resumes are all professionally filtered and packaged for pristine sharing and casting possibilities.</li>
<li>Bookmark your favorite talent in organized folders for specific projects</li>
<li>Talent is brought directly to your computer without leaving your home or office and/or scheduling an audition</li>
<li>Professional industry performance and event invitation system</li>
<li>Your casting notices are automatically matched with subscriber's personal and talent profiles and will appear on their personal calendars</li>
<li>Recruit for your university, school or organizationhere to create your account and to get started!</li>
</ul>

<p><%= link_to 'Click here', new_user_registration_url(account_type: 'mentor')%> to create your account and to get started!</p>

<p>Together we will eliminate the multiple inefficiencies within the conventional casting process, mentor aspiring performers, prepare casting candidates for your upcoming projects and be respectfully compensated for your experience, work and your time.</p>

<p>We can’t wait to work with you!</p>

<p>The CastNotice Team</p>
