<p>Hi BBT Family!!</p>
<p> Thank you for registering for the BBT Summer Intensive 2015! Are you ready for the best summer week of your life? We are!!  </p>
<p>We are thrilled to share our new CastNotice system with you. We need you to hop on over to CastNotice asap to input your student information. </p>
<p><%= link_to  'Click here', @link_to_sign_up %> to fill out your student registration form </p>

<p>As a special thank you for being a part of the BBT family, we are giving you a FREE CastNotice account. After you register, you will be able to upload your photos, videos, professionally format your resume and use CastNotice as your own free professional webpage.</p>

<strong>It is extremely important that you complete your full CastNotice profile, format your resume and upload your pictures. This will give the BBT staff and faculty the opportunity to get to know you before our intensive.</strong>

<p>Please register no later on CastNotice than May 1st!</p>
<p>Please send any questions to <%= mail_to 'workshops@broadwaybreakthru.com' %>.</p>
<p>See you this summer!</p>
<p>David, Steven & the whole BBT Crew</p>
