<p>Hello <%= @user.email %>!</p>

<p>Welcome to CastNotice. Please click on the link below to verify your email addresses and create your password.</p>

<p><%= link_to 'Verify My Email Address', edit_password_url(@user, reset_password_token: @token) %></p>

<p> Once your email is verified you can upload your videos and photos and professionally format your resume. All BBT students ages 13 and up MUST upload a video, headshot and resume for review. </p>

<p>- The CastNotice Team </p>
