<div class="video">
  <% if video.youtube_id.present? %>
    <iframe width="258" height="145" src="http://www.youtube.com/embed/<%= video.youtube_id %>?autoplay=0&rel=0" frameborder="0" allowfullscreen class="cast-video"></iframe>
  <% elsif video.vimeo_id.present? %>
    <iframe width="258" height="145" src="https://player.vimeo.com/video/<%= video.vimeo_id %>?autoplay=0&portrait=0&color=CF7513" frameborder="0" allowfullscreen class="cast-video"></iframe>
  <% end %>
  <%= link_to "Delete", video_path(video), method: :delete %>
</div>