<h1>Talent Mentors</h1>

<%= form_tag superadmin_mentors_send_invite_path, method: :post do %>
  <%= label_tag "email" %>
  <%= text_field_tag "email" %>
  <%= submit_tag "Send invitation" %>
<% end %>
