<% content_for :background do %>
  <div class="bg-full" id="bg-about"></div>
<% end %>

<div class="subcontent-left">
  <h1>About.</h1>
  <p>CastNotice is the brainchild of founder and CEO David Petro. As a casting professional for countless
    Broadway musicals, movies, plays, and television series, David has developed a rare, comprehensive
    understanding of the world of talent identification. Through this extensive experience in the casting industry,
    David identified multiple shortcomings and inefficiencies within the conventional casting process.</p>

  <p>We know that opportunities for aspiring actors are extremely slim and that it comes with a tremendous
    personal and financial price tag. According to the annual Call Sheet publication, there are 1.5 million
    aspiring actors, compared with a mere 210 casting directors in New York and 325 in California. The conventional
    system of large-scale, in-person casting calls forces all but the most established actors to live in New York or
    Los Angeles and repeatedly attend in-person casting calls. This just isn’t an option for many talented performers
    and because of that, they may go undiscovered.</p>

  <p>
    Even if you are able to attend casting calls, in a situation where talent has only seconds to dazzle, making the
    best impression each and every time is both essential and nearly impossible. CastNotice’s online talent database
    will give everyone, regardless of their location, financial situation or experience, the ability to make the best
    first impression an be discovered.
  </p>
</div>