<% content_for :background do %>
  <div class="bg-full" id="bg-about"></div>
<% end %>

<div class="main-content-left">
  <h1>About us</h1>
  <h3>You have one chance to make a great first impression.</h3>

  <p>In casting aspiring performers for Broadway musicals, movies, plays, and television series, Cast Notice has developed a keen and comprehensive understanding of how to identity talent, then properly align it with viable opportunities. Our firsthand experience helps you avoid common shortcomings and inefficiencies in the conventional casting process.</p>

  <p>That’s important because opportunities for aspiring actors are exceedingly slim. There are 1.5 million aspiring actors, compared with a mere 210 casting directors in New York and 325 in California, according to the annual Call Sheet publication. The conventional system of large-scale, in-person casting calls requires all but the most established actors to live in New York or Los Angeles and repeatedly attend in-person casting calls. This simply isn’t an option for most talented performers, and because of that they may go undiscovered.</p>

  <p>Even if you are able to attend casting calls, in a situation where talent has only moments to dazzle, making the best impression each and every time is both essential and nearly impossible. CastNotice’s online talent database gives you the ability to make the best first impression and be discovered, regardless of your location, financial situation or experience.</p>
</div>
