<% content_for :background do %>
  <div class="bg-full" id="bg-about"></div>
<% end %>

<div class="castnotice-calendar">
  <h1>Calendar</h1>
  <div class="calendar-events">
  </div>
  <div class="calendar-controls">
    <div id="calendar-datepicker">
      <h2>Monthly</h2>

    </div>
    <div class="calendar-filters clearfix">
      <h2>Filter your results:</h2>
    </div>
  </div>
</div>

<div id="request"></div>

<script>
  $(function(){
    calendarBuild();
  });
</script>

