<h2 id="medical_release_waiver">Medical Release & Insurance Liability Waiver</h2>

<p>1) Consent to the minor's participation in the event or activity and agree that prior to the event or activity, if we deem necessary, the minor and I will inspect the facilities, equipment, and areas where the event or activity is being conducted and if either of us believes any of them are unsafe, I will immediately advise the person supervising the event, facility, or area.</p>

<p>2) Acknowledge that the minor and I fully understand that the minor's participation may involve serious injury, including economic losses, which may result not only from the minor's actions, inactions, or negligence, but also from the actions, inactions, or negligence of others, the condition of the facilities equipment, or areas where the event or activity is being conducted, the rules of play for this type of event or activity.</p>

<p>3) Release, wave, discharge, and relinquish the Broadway Break Thru®, CastNotice, David Petro, any employees, and their officers, volunteers, teachers, agents or counselors working for BBT from any loss, damage, claim, demand of cause of action against them attributable to the minor's participation in the event/activity whether same shall arise by their negligence or otherwise.</p>

<p>4) Assume any and all risks or personal injuries to the minor and authorize the Broadway Break Thru®, CastNotice, David Petro, any employees, and their officers, volunteers, teachers, agents or counselors working for BBT to contact a licensed physician to render any medical treatment that may be deemed necessary for the minor or to take and admit the minor to any hospital. If such medical treatment or hospitalization is required, I agree to pay all medical and hospital bills relating there to, permanent or partial disability or death or damages to the minor's or my property caused by or arising from the minor's participation in the event or activity.</p>

<p>5) Covenant not to sue or present any claim for personal injury, property damage or wrongful death for or on behalf of the minor against Broadway Break Thru®, CastNotice, David Petro, any employees, and their officers, volunteers, teachers, agents or counselors working for BBT attributable to the minor's participation in the event or activity.</p>

<p>6) Warrant that the minor is in good health and has no physical condition that would prevent the minor from participating in the event or activity. Important: This document relieves Broadway Break Thru®, CastNotice, David Petro, any employees, and their officers, volunteers, teachers, agents or counselors working for BBT and others from liability for personal injury, wrongful death, and property damage caused by negligence.</p>

<p>I have read this document and understand that I will give up substantial rights by agreeing and signing voluntarily.</p>

<h2 id="refund_policy">Refund Policy</h2>

<p>Refunds: All monies paid, with the exception of a $100.00 administrative fee, will be refunded provided the notice of cancellation is received no later than April 15, 2015. No refunds will be provided after April 15, 2015, regardless of circumstance. Refund requests can be sent via e-mail or regular mail only. Phone requests will not be accepted. All refunds are issued by check. Please allow six weeks for processing.</p>


<h2 id="photo_release">Photo Release</h2>
<p>I agree that photographs, pictures, slides, movies, or videos of the minor may be taken in connection with the minor's participation in the event or activity without compensation from Broadway Break Thru®, CastNotice, David Petro, any employees, and their officers and consent to the use of the photographs, pictures, slides, movies, or videos for any legal purpose and agree that said content is the sole property of the Broadway Break Thru® and can be used for such purposes.</p>
