<% content_for :background do %>
  <div class="bg-full" id="bg-how-it-works"></div>
<% end %>


<h1>How it works</h1>
<h2>WHAT IS CASTNOTICE</h2>

<p>CastNotice is a revolutionary internet universe created to foster talent by providing critiques to your personal audition video from leading entertainment industry professionals.</p>

<h2>HOW DOES CASTNOTICE WORK?</h2>

<p>After registering members may upload their personal performance videos to be critiqued by our Talent Mentors. Based on your preference, audition feedback is posted on subscribers’ “Close-Up” page or inbox.</p>

<h2>WHO ARE THE TALENT MENTORS?</h2>

<p>Our Talent Mentors are comprised of active, currently working Casting Directors, Talent Agents, Producers, Directors, Musical Directors, Choreographers and University and College Administrators. </p>

<h2>WHAT FORMS OF MEDIA DOES CASTNOTICE SUPPORT?</h2>

<p>CastNotice supports YouTube and Vimeo links.</p>

<h2>WHAT HAPPENS TO MY VIDEO AFTER IT IS CRITIQUED?</h2>

<p>All subscriber videos are stored in CastNotice’s Talent Database. Talent Mentors can access your videos for future viewing, projects, sharing and castings.</p>

<h2>HOW OLD MUST I BE TO JOIN CASTNOTICE?</h2>

<p>All subscribers must be at least thirteen years old.</p>

<h2>HOW MUCH DOES CASTNOTICE COST?</h2>

<p>Click here to see our subscription rates.</p>

<h2>WHAT FORMS OF PAYMENT DOES CASTNOTICE ACCEPT?</h2>

<p>We accept Visa, Mastercard, American Express and Discover. </p>

<h2>WHAT IS A PROFESSIONAL TALENT KIT (PTK)?</h2>

<p>Your PTK is a combination of your audition videos, headshots and professional resume/CV. Your PTK will be displayed on the top of your Close-Up page.</p>

<h2>WHAT IS A PROFESSIONAL RESUME/CV?</h2>

<p>A resume/cv is a specially formatted list of your performance experiences, physical attributes, training, education and special skills relating to the entertainment industry.</p>

<h2>WHO CAN VIEW MY PTK?</h2>

<p>CastNotice was created to make it possible for you to connect with hiring professional while sharing your talent and information with anyone you want. You decide how much information you feel comfortable sharing on CastNotice and you control how it is distributed through your privacy settings. You should review the default privacy settings and change them if necessary to reflect your preferences. You should also consider your settings whenever you share information. You can also limit how your friends share your information with applications through your privacy settings.</p>

<p>We will not share your information with advertisers without your consent. We allow advertisers to select characteristics of users they want to show their advertisements to and we use the information we have collected to serve those advertisements.</p>

<h2>WHAT TYPE OF PHOTO FORMAT TYPES AND FILE SIZE DOES CASTNOTICE ALLOW?</h2>

<p>We support the image types JPG, GIF and PNG and allow a maximum image upload of up to 550KB (example: 300px x 300px).</p>

<h2>WHEN I SUBMIT A VIDEO FOR A PROFESSIONAL CRITIQUE, HOW LONG DOES IT TAKE TO RECEIVE MY FEEDBACK?</h2>

<p>It generally takes between 7 to 14 days to receive your critique from our Talent Mentors.</p>

<h2>DOES JOINING CASTNOTICE GUARANTEE THAT I WILL GET A JOB?</h2>

<p>CastNotice makes no guarantees that you will find employment through our site, services or employees or our talent mentors. Through our Talent Mentor critiques, access to high-level industry leaders, professional format headshots and resumes, our revolutionary profile matching casting and social networking calendar, the first curated talent database and our global talent CasNotice is the most effective tool to making you performing dreams your reality.</p>