<% content_for :background do %>
  <div class="bg-full" id="bg-how-it-works"></div>
<% end %>

<div class="main-content-right">
<h1>How it works</h1>
  <ol class="how-it-works">
    <li>1. Users create an initial profile where you can upload photos and link to performance videos on YouTube or Vimeo. We give you exclusive information on casting calls where you can check out other performers who might be auditioning for the same roles as you.</li>

    <li>2. CastNotice matches your profile to top entertainment industry leaders, casting directors, talent agents, directors, choreographers, celebrities and universities who can give constructive critiques on your photos and videos.</li>

    <li>3. Casting professionals are able to meet, nurture and explore new talent in a way that isn’t available anywhere else. Regardless of your location, financial situation or experience, CastNotice gives you the chance to be discovered.</li>

    <li>4. If you are identified as a candidate for a particular role, you may be invited to attend an in-person audition with the knowledge that you already fall into the narrower universe of “maybes”.</li>
  </ol>
</div>
