<% content_for :background do %>
  <div class="bg-full" id="bg-how-it-works"></div>
<% end %>

<h1>How it works.</h1>
<h3>Register</h3>
<p>Cum eu sit lectus sociis pid etiam ridiculus non mus enim sociis, aliquam in integer in? Ac,
  enim ut, enim! Facilisis vel mid et? Turpis! </p>
<%= link_to "Register Now", new_user_registration_path %>
<h3>Build your profile</h3>
<p>Cum eu sit lectus sociis pid etiam ridiculus non mus enim sociis, aliquam in integer in? Ac,
  enim ut, enim! Facilisis vel mid et? Turpis! </p>
<h3>Connect with other industry professionals</h3>
<p>Cum eu sit lectus sociis pid etiam ridiculus non mus enim sociis, aliquam in integer in? Ac,
  enim ut, enim! Facilisis vel mid et? Turpis! </p>