<% content_for :background do %>
<div class="home-wrapper">

		<div class="home-col">
        	<div class="home-box">
                <img src="img/home-tile-01.jpg" class="img-responsive"/> 
            </div>
            <div class="home-box">
                <img src="img/home-tile-03.jpg" class="img-responsive"/> 
            </div>
            <div class="home-box clearfix">
            	<div class="home-box-half-left">
                	<img src="img/home-tile-02.jpg" class="img-responsive"/> 
                </div>
                <div class="home-box-half-right">
                	<img src="img/home-tile-04.jpg" class="img-responsive"/> 
                </div>
            </div>
            <div class="home-box">
                <img src="img/home-tile-05.jpg" class="img-responsive"/> 
        	</div>
        </div>
		<div class="home-col">
        	<div class="home-box">
                <img src="img/home-tile-07.jpg" class="img-responsive"/> 
            </div>
            <div class="home-box home-box-calendar">
                <img src="img/home-tile-calendar.png" class="img-responsive"/>
                <div class="home-box-calendar-text">
               	  <h3><a href="/calendar"><img src="img/83-calendar@2x.png" width="46" height="50" alt=""/></a></h3>
               	  <h1><a href="/calendar">Calendar</a></h1>
                  <h3><a href="/calendar">Click here to view forthcoming casting events. </a></h3>
                </div> 
            </div>
            <div class="home-box">
                <img src="img/home-tile-06.jpg" class="img-responsive"/> 
        	</div>
        </div>
		<div class="home-col">
        	<div class="home-box clearfix">
            	<div class="home-box-half-left">
                	<img src="img/home-tile-15.jpg" class="img-responsive"/> 
                </div>
                <div class="home-box-half-right">
                	<img src="img/home-tile-10.jpg" class="img-responsive"/> 
                </div>
            </div>
            <div class="home-box">
                <img src="img/home-tile-09.jpg" class="img-responsive"/> 
            </div>
            <div class="home-box">
                <img src="img/home-tile-08.jpg" class="img-responsive"/> 
        	</div>
        </div>
		<div class="home-col">
        	<div class="home-box">
                <img src="img/home-tile-05.jpg" class="img-responsive"/> 
            </div>
            <div class="home-box">
                <img src="img/home-tile-13.jpg" class="img-responsive"/> 
            </div>
            <div class="home-box">
                <img src="img/home-tile-12.jpg" class="img-responsive"/> 
        	</div>
        </div>
        <div class="home-col-last">
        	<div class="home-box">
                <img src="img/home-tile-14.jpg" class="img-responsive"/> 
            </div>
            <div class="home-box clearfix">
            	<div class="home-box-half-left">
                	<img src="img/home-tile-17.jpg" class="img-responsive"/> 
                </div>
                <div class="home-box-half-right">
                	<img src="img/home-tile-16.jpg" class="img-responsive"/> 
                </div>
            </div>
            <div class="home-box">
                <img src="img/home-tile-11.jpg" class="img-responsive"/> 
            </div>
            <div class="home-box">
                <img src="img/home-tile-17.jpg" class="img-responsive"/> 
        	</div>
        </div>
</div>
<% end %>