<% content_for :background do %>
  <div class="bg-full" id="bg-pricing"></div>
<% end %>

<div class="row">
	<div class="col-md-2">
		<h1>Box Office</h1>
		<h3>Monthly Subscription</h3>
		<h1 class="pricing">$7.99</h1>
		<%= link_to "Register", new_user_registration_path, :class => "btn" %>
	</div>
	<div class="col-md-2">
		<h3>Annual Subscription</h3>
		<h1 class="pricing">$69.99</h1>
		<p>Equivalent to $5.83/month</p>
		<%= link_to "Register", new_user_registration_path, :class => "btn" %>
	</div>
	<div class="col-md-2">
		<h3>Broadway Breakthrough Annual Subscription</h3>
		<h1 class="pricing">$59.99</h1>
		<p>Equivalent to $5.83/month and includes 1 free critique.</p>
		<%= link_to "Register", new_user_registration_path, :class => "btn" %>
	</div>
	<div class="col-md-2">
		<h3>Mentors</h3>
		<p>If you are joining CastNotice as a mentor, please click below to create your account and profile</p>
		<%= link_to "Register", new_user_registration_path, :class => "btn" %>
	</div>
	<div class="col-md-4">
		<h3>Membership Advantages</h3>
		<ul>
		<li>Geographical, financial and time barriers are eliminated.</li>
		<li>Producers, theaters, directors and all entertainment institutions will have access to the first searchable, filtered, global talent database.</li>
		<li>Aspiring Performers receive constructive critiques on performers’ videos and pictures while increasing exposure with top entertainment industry hiring professionals. </li>
		<li>University applicants pre-audition for their choice college by obtaining invaluable feedback from department heads and faculty members.</li>
		<li>Universities use database and critiqued videos for universal pre-recruiting.</li>
		<li>Revolutionary electronic industry invites system for personal performances, appearances and special dates.</li>
		<li>Personal audition and performance journals built into subscribers’ profiles.</li>
		<li>Each subscriber is provided a professionally packaged PTK, Professional Talent Kit that includes videos, headshots and resumes automatically formatted for all computers and mobile phones. </li>
		<li>Connect with our global community of talent.</li>
		<li>An extensive and complete calendar of casting calls around the world.</li>
		<li>Q & A sessions, educational forums and webisodes are hosted to provide unprecedented access to foremost Industry Leaders.</li>
		<li>Cutting edge social networking built around calendar of personal events.</li>
		<li>Producers can save up to $10,000 per project on audition expenses.  Actors can save up to $2,000 a year on acting classes, singers save up to $4,800 a year on voice lessons and dancers save up to $1,800 a year on dance lessons. </li>
		</ul>
	</div>
</div>

