<% content_for :background do %>
  <div class="bg-full" id="bg-pricing"></div>
<% end %>
<h1>Box Office</h1>
<div class="row">
	<div class="col-md-3">
		<h3>Monthly Subscription</h3>
		<h1 class="pricing">$7.99</h1>
		<%= link_to "Register", new_user_registration_path, :class => "btn" %>
	</div>
	<div class="col-md-3">
		<h3>Annual Subscription</h3>
		<h1 class="pricing">$69.99</h1>
		<p>Equivalent to $5.83/month</p>
		<%= link_to "Register", new_user_registration_path, :class => "btn" %>
	</div>
	<div class="col-md-3">
		<h3>Broadway Break Thru Annual Subscription</h3>
		<h1 class="pricing">$59.99</h1>
		<p>Equivalent to $4.99/month and includes 1 free critique.</p>
		<%= link_to "Register", new_user_registration_path, :class => "btn" %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Membership Advantages</h3>
		<ul>
		<li>Geographical, financial and time barriers are eliminated.</li>
		<li>Producers, theaters, directors and all entertainment institutions will have access to the first searchable, filtered, global talent database.</li>
		<li>Aspiring Performers receive constructive critiques on performers’ videos and pictures while increasing exposure with top entertainment industry hiring professionals. </li>
		<li>University applicants pre-audition for their choice college by obtaining invaluable feedback from department heads and faculty members.</li>
		<li>Universities use database and critiqued videos for universal pre-recruiting.</li>
		<li>Revolutionary electronic industry invites system for personal performances, appearances and special dates.</li>
		<li>Personal audition and performance journals built into subscribers’ profiles.</li>
		<li>Each subscriber is provided a professionally packaged PTK, Professional Talent Kit that includes videos, headshots and resumes automatically formatted for all computers and mobile phones. </li>
		<li>Connect with our global community of talent.</li>
		<li>An extensive and complete calendar of casting calls around the world.</li>
		<li>Q & A sessions, educational forums and webisodes are hosted to provide unprecedented access to foremost Industry Leaders.</li>
		<li>Cutting edge social networking built around calendar of your personal events.</li>

		</ul>
	</div>
</div>

