<% content_for :background do %>
  <div class="bg-full" id="bg-pricing"></div>
<% end %>

<div class="main-content-left">
<h1>Pricing.</h1>
<h3>Broadway Breakthrough participants</h3>
<h1 class="pricing">$49.95 annually</h1>
<p>This allows one critique from a Casting Mentor and full access to the site for 60 days post sign up.</p>
<button type="button" class="btn">Register</button>

<h3>Talent participants</h3>
<h1 class="pricing">$125 annually</h1>
<p>(OR $19.95 a month of which three months ($59.95) must be paid up front)</p>
<p>This allows 2 critiques within the first three months and one additional critique every quarter and full access to the site.</p>
<button type="button" class="btn">Register</button>
</div>
