<% content_for :background do %>
  <div class="bg-full" id="bg-about"></div>
<% end %>

<h1>Privacy</h1>

<p>CastNotice.com is designed to make it possible for you to connect with Industry Leaders to share your information with anyone you choose. You decide how much information you feel comfortable sharing and control how it is distributed through your privacy settings. You should review the default privacy settings and change them if necessary to reflect your preferences. You should also consider your settings whenever you share information.</p>

<p>Please keep in mind, what you post on CastNotice.com may be viewed all around the world instantly.</p>

<p><b>1. Scope.</b></p>

<p>This privacy policy covers all of CastNotice.com. It does not, however, apply to entities that CastNotice.com does not own or control. By using or accessing CastNotice.com, you agree to our privacy practices outlined here.</p>

<p><b>2. Children Under Age 13.</b></p>

<p>If you are under age 13, please do not attempt to register for CastNotice.com or provide any personal information about yourself to us. If we learn that we have collected personal information from a child under age 13, we will delete that information as quickly as possible. If you believe that we might have any information from a child under age 13, please contact us at hello@castnotice.com.</p>

<p><b>3. Parental Participation.</b></p>

<p>Minors 13 years of age or older must ask their parents for permission before sending any information about themselves to anyone over the Internet. We strongly encourage parents to teach their children about safe internet use practices.</p>

<p><b>4. Information We Receive.</b></p>

<ol type="a">
<li><p>Personal information: When you sign up for CastNotice.com you provide us with your name, email, gender, address and birth date. During the registration process we give you the opportunity to provide additional profile information to help you promote yourself and your career. In some cases we may ask for additional information for security reasons or to provide specific services to you. Once you register you can visit your profile at any time to add or remove personal information. You can add basic information about yourself, such as information about your hometown, family, relationships, and your political and religious views. You can also add other information about yourself including your aspirations, activities, interests, contact information, as well as more information about your education and job history.</p></li>
<li><p>Content: One of the primary reasons people use CastNotice.com is to share content with hiring professionals. Examples include when you upload or record a video, upload or take a photo, share a link, create an event or a group, make a comment, write something on someone’s My Close-Up page, or send someone a message. If you do not want us to store metadata associated with content you share on CastNotice.com (such as photos), please remove the metadata before uploading the content.</p></li>
<li><p>Transactional Information: We may retain the details of transactions or payments you make on CastNotice.com. However, we will only keep your payment source account number with your consent.</p></li>
<li><p>Friend Information: We offer contact importer tools to help you upload your friends’ addresses so that you can find your friends on CastNotice.com, and invite your contacts who do not have CastNotice.com accounts to join. If you give us your password to retrieve those contacts, we will not store your password after you have uploaded your contacts’ information.</p></li>
<li><p>Location Information: When you share your location with others or add a location to something you post, we treat that like any other content you post (for example, it is subject to your privacy settings). If we offer a service that supports this type of location sharing we will present you with an opt-in choice of whether you want to participate.</p></li>
</ol>

<p><b>5. Information Collected.</b></p>

<ol type="a">
<li><p>We keep track of the actions you take on CastNotice.com, such as interacting with a Talent Mentor, adding a friend, becoming a fan of a CastNotice.com page, joining a group or an event, creating a photo album, or attending an event. In some cases you are also taking an action when you provide information or content to us. For example, if you share a video, in addition to storing the actual content you uploaded, we might log the fact you shared it.</p></li>
<li><p>When you access CastNotice.com from a computer, mobile phone, or other device, we may collect information from that device about your browser type, location, and IP address, as well as the pages you visit.</p></li>
<li><p>We use "cookies" (small pieces of data we store for an extended period of time on your computer, mobile phone, or other device) to make CastNotice.com easier to use, to make our advertising better, and to protect both you and CastNotice.com. We also use them to confirm that you are logged into CastNotice.com, and to know when you are interacting with CastNotice.com Platform applications and websites, our widgets and Share buttons, and our advertisements. You can remove or block cookies using the settings in your browser, but in some cases that may impact your ability to use CastNotice.com.</p></li>
</ol>

<p><b>6. Other Websites' Information.</b></p>

<p>We may institute programs with advertising partners and other websites in which they share information with us:</p>

<ul>
<li>We may ask advertisers to tell us how our users responded to the ads we showed them (and for comparison purposes, how other users who didn’t see the ads acted on their site). This data sharing, commonly known as “conversion tracking,” helps us measure our advertising effectiveness and improve the quality of the advertisements you see.</li>
<li>We may receive information about whether or not you’ve seen or interacted with certain ads on other sites in order to measure the effectiveness of those ads.</li>
</ul>

<p><b>7.  Information From Other Users.</b></p>

<p>We may collect information about you from other CastNotice.com users, such as when a friend credits you in a photo or video, provides friend details, or indicates a relationship with you.</p>

<p><b>8. Information Shared With Third Parties.</b></p>

<p>We take steps to ensure that others use information that you share on CastNotice.com in a manner consistent with your privacy settings, but we cannot guarantee that they will follow our rules. Read the following section to learn more about how you can protect yourself when you share information with third parties.</p>

<p><b>9. Sharing Information On CastNotice.com.</b></p>

<p>We designed our privacy settings to enable you to control how you share your information on CastNotice.com. You should review the default privacy settings to make sure they reflect your preferences. Here are some specific things to remember:</p>

<ul>
<li>You can control the visibility of most of the information you share on CastNotice.com through the privacy settings you select.</li>
<li>Certain categories of information such as your name, profile photo, list of friends and pages you are a fan of, gender, and networks you belong to are considered publicly available, and therefore do not have privacy settings. You can limit the ability of others to find this information on third party search engines through your search privacy settings.</li>
<li>Some of the content you share and the actions you take will show up on your friends’ home pages and other pages they visit.</li>
<li>Even after you remove information from your profile or delete your account, copies of that information may remain viewable elsewhere to the extent it has been shared with others, it was otherwise distributed pursuant to your privacy settings, or it was copied or stored by other users.</li>
<li>You understand that information might be re-shared or copied by other users.</li>
<li>Certain types of communications that you send to other users cannot be removed, such as messages.</li>
<li>When you post information on another user’s profile or comment on another user’s post, that information will be subject to the other user’s privacy settings.</li>
<li>If you use an external source to publish information to CastNotice.com (such as a mobile application or a Connect site), you should check the privacy setting for that post, as it is set by that external source.</li>
</ul>


<p><b>10. Public Viewing Privacy Setting.</b></p>

<p>Information set to “everyone” is publicly available information, may be accessed by everyone on the Internet (including people not logged into CastNotice.com), is subject to indexing by third party search engines, may be associated with you outside of CastNotice.com and may be imported and exported by us and others without privacy limitations. The default privacy setting for certain types of information you post on CastNotice.com is set to “everyone.” You can review and change the default settings in your privacy settings. If you delete “everyone” content that you posted on CastNotice.com, we will remove it from your CastNotice.com profile, but have no control over its use outside of CastNotice.com.</p>

<p><b>11. Exporting Information.</b></p>

<p>You, and those you make your information available to, may use tools like RSS feeds, mobile phone address books, or copy and paste functions, to capture and export information from CastNotice.com, including your information and information about you.</p>

<p><b>12. Advertisements.</b></p>

<p>Sometimes the advertisers who present ads on CastNotice.com use technological methods to measure the effectiveness of their ads and to personalize advertising content. You may opt-out of the placement of cookies by many of these advertisers here. You may also use your browser cookie settings to limit or prevent the placement of cookies by advertising networks.</p>

<p><b>13. Links.</b></p>

<p>When you click on links on CastNotice.com you may leave our site. We are not responsible for the privacy practices of other sites, and we encourage you to read their privacy statements.</p>

<p><b>14. Use Of Your Information.</b></p>

<p>We use the information we collect to try to provide a safe, efficient, and customized experience. The information we collect is used to provide services and features, for site improvements, and to provide customer support. We may also use the information to prevent potentially illegal activities, and to enforce our Terms Of Service. We also use a variety of technological systems to detect and screen content to prevent abuse such as spam. These efforts may on occasion result in a temporary or permanent suspension or termination of some functions for some users.</p>

<p><b>15. Contacting You.</b></p>

<p>We may contact you with service-related announcements from time to time. We may include content you see on CastNotice.com in the emails we send to you.</p>

<p><b>16. Personalized Advertising To You.</b></p>

<p>We don’t share your information with advertisers without your consent. We allow advertisers to choose the characteristics of users who will see their advertisements and we may use any of the non-personally identifiable attributes we have collected (including information you may have decided not to show to other users, such as your birth year or other sensitive personal information or preferences) to select the appropriate audience for those advertisements. Even though we do not share your information with advertisers without your consent, when you click on or otherwise interact with an advertisement there is a possibility that the advertiser may place a cookie in your browser and note that it meets the criteria they selected.</p>

<p><b>17. Social Ads.</b></p>

<p>We occasionally pair advertisements we serve with relevant information we have about you and your friends to make advertisements more interesting and more tailored. We only share the personally identifiable information visible in the social ad with the friend who can see the ad.</p>

<p><b>18. Supplement Your Personal Information.</b></p>

<p>We may use information about you that we collect from other CastNotice.com users to supplement your information. In such cases we generally allow you to direct how that information is shared in your privacy settings or give you the ability to remove the content or limit its visibility on CastNotice.com.</p>

<p><b>19. Networking.</b></p>

<p>We use your profile information, the addresses you import through our contact importers, and other relevant information, to help you connect with Talent Mentors and your friends, including making suggestions to you and other users that you connect with on CastNotice.com. If you want to limit your visibility in suggestions we make to other people, you can adjust your search visibility privacy setting, as you will only be visible in our suggestions to the extent you choose to be visible in public search listings. You may also block specific individual users from being suggested to you and you from being suggested to them.</p>

<p><b>20. Memorializing Accounts.</b></p>

<p>If we are notified that a user is deceased, we may memorialize the user’s account. In such cases we restrict profile access to confirmed friends, and allow friends and family to write on the user’s Wall in remembrance. We may close an account if we receive a formal request from the user’s next of kin or other proper legal request to do so.</p>

<p><b>21. Payments.</b></p>

<p>When you enter into transactions with others or make payments on CastNotice.com, we will only share transaction information with those third parties necessary to complete the transaction and will require those third parties to agree to respect the privacy of your information.</p>

<p><b>22. Friend Invitations.</b></p>

<p>When you ask us to invite a friend to join CastNotice.com, we will send your friend a message on your behalf using your name. We may also send up to two reminders to them in your name. If your friend does not want us to keep their information, we will remove it at their request.</p>

<p><b>23. Sharing Your Information With Marketers.</b></p>

<p>You may choose to share information with marketers or electronic commerce providers that are not associated with CastNotice.com through on-site offers. This is entirely at your discretion and we will not provide your information to these marketers without your consent.</p>

<p><b>24. We Help Talent Mentors and Friends Find You.</b></p>

<p>Default settings make certain information you have listed in search results on CastNotice.com to help your friends find you. Uploaded audition videos, Resumes/CV's, biographies and headshots, (your PTK), and your pertinent profile information will be stored in CastNotice.com's database and made available to our Talent Mentors.</p>

<p><b>25. Search Engine Information.</b></p>

<p>We generally limit search engines’ access to our site. We may allow them to access information set to the “everyone” setting and your public search listing; which you can turn off your public search listing in your privacy settings.</p>

<p><b>26. Our Service Promotion.</b></p>

<p>Sometimes we share aggregated information with third parties to help improve or promote our service. But we only do so in such a way that no individual user can be identified or linked to any specific action or information.</p>

<p><b>27. Subscriber Services Provided.</b></p>

<p>We may use third parties to help host our website, send out email updates about CastNotice.com, remove repetitive information from our user lists, process payments, or provide search results or links. These service providers may have access to your personal information for use for a limited time, but when this occurs we implement reasonable contractual and technical protections to limit their use of such information.</p>

<p><b>28. Advertising Our Services.</b></p>

<p>We may ask advertisers outside of CastNotice.com to display ads promoting our services. We may ask them to deliver those ads based on the presence of a cookie, but in doing so will not share any other information with the advertiser.</p>

<p><b>29. Joint Services.</b></p>

<p>We may provide services jointly with other companies, such as the classifieds service. If you use these services, we may share your information to facilitate that service.</p>

<p><b>30. Legal Requests and Harm Prevention.</b></p>

<p>We may disclose information pursuant to subpoenas, court orders, or other requests, including criminal and civil matters, if we have a good faith belief that the response is required by law. This may include respecting requests from jurisdictions outside of the United States where we have a good faith belief that the response is required by law under the local laws in that jurisdiction, apply to users from that jurisdiction, and are consistent with generally accepted international standards. We may also share information when we have a good faith belief it is necessary to prevent fraud or other illegal activity, to prevent imminent bodily harm, or to protect ourselves and you from people violating our Terms Of Service. This may include sharing information with other companies, lawyers, courts or other government entities.</p>

<p><b>31. Transfer in the Event of Sale or Change of Control.</b></p>

<p>In the event that CastNotice.com is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The promises in this privacy policy will apply to your information as transferred to the new entity.</p>

<p><b>32. Change or Remove Information.</b></p>

<p>You may change or delete your profile information at any time by going to your settings page and clicking “Edit My Profile.” Information will be updated immediately. While you cannot delete your name or date of birth, you can use the setting on the info tab of your profile information page to hide all or part of it from other users.</p>

<p><b>33. Delete Contacts.</b></p>

<p>If you use our contact importer to upload addresses, you can later delete the list.</p>

<p><b>34. Deactivating or deleting your account.</b></p>

<p>If you want to stop using your account you may deactivate it or delete it. When you deactivate an account, no user will be able to see it, but it will not be deleted. We save your profile information (friends, photos, interests, etc.) in case you later decide to reactivate your account. Many users deactivate their accounts for temporary reasons and in doing so are asking us to maintain their information until they return to CastNotice.com. You will still have the ability to reactivate your account and restore your profile in its entirety. When you delete an account, it is permanently deleted. You should only delete your account if you are certain you never want to reactivate it. You may deactivate your account on your account settings page.</p>

<p><b>35. Limitations on removal.</b></p>

<p>Even after you remove information from your profile or delete your account, copies of that information may remain viewable elsewhere to the extent it has been shared with others, it was otherwise distributed pursuant to your privacy settings, or it was copied or stored by other users. However, your name will no longer be associated with that information on CastNotice.com. Additionally, we may retain certain information to prevent identity theft and other misconduct even if deletion has been requested.</p>

<p><b>36. Backup Copies.</b></p>

<p>Removed and deleted information may persist in backup copies but will not be available to others.</p>

<p><b>37. Keeping Your Information Secure.</b></p>

<p>We keep your account information on a secured server behind a firewall. When you enter sensitive information (such as credit card numbers and passwords), we encrypt that information using secure socket layer technology (SSL). We also use automated and social measures to enhance security, such as analyzing account behavior for fraudulent or otherwise anomalous behavior, may limit use of site features in response to possible signs of abuse, may remove inappropriate content or links to illegal content, and may suspend or disable accounts for violations of our Terms Of Service.</p>

<p><b>38. Risks In Sharing Information.</b></p>

<p>Although we allow you to set privacy options that limit access to your information, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other users with whom you share your information. We cannot guarantee that only authorized persons will view your information. We cannot ensure that information you share on CastNotice.com will not become publicly available. We are not responsible for third party circumvention of any privacy settings or security measures on CastNotice.com. You can reduce these risks by using common sense security practices such as choosing a strong password, using different passwords for different services, and using up to date antivirus software.</p>

<p><b>39. Talent Mentor Screening.</b></p>

<p>CastNotice.com makes all best efforts to carefully screens all Talent Mentors. All Talent Mentors are invited after a meeting CastNotice.com professional requirements. HOWEVER, UNDER NO CIRCUMSTANCES WILL CASTNOTICE.COM OR ITS AFFILIATES BE RESPONSIBLE FOR ANY LOSS OR DAMAGE RESULTING FROM YOUR RELIANCE ON INFORMATION, CRITIQUE, FEEDBACK, COMMENTS OR OTHER CONTENT POSTED ON THE WEBSITE OR TRANSMITTED TO OR BY ANY TALENT MENTOR OR MEMBER.</p>

<p><b>40. Report Violations.</b></p>

<p>You should report any security violations to us on by emailing hello@castnotice.com.com</p>

<p><b>41. Changes.</b></p>

<p>We may change this Privacy Policy pursuant to the procedures outlined in the CastNotice.com Terms Of Service. Unless stated otherwise, our current privacy policy applies to all information that we have about you and your account. If we make changes to this Privacy Policy we will notify you by publication here and on the Terms Of Service page.</p>

<p><b>42. Consent To Collection and Processing In The United States.</b></p>

<p>By using CastNotice.com, you consent to having your personal data transferred to and processed in the United States.</p>

<p>If you have any questions please contact us by emailing <a href="customercare@castnotice.com">customercare@castnotice.com</a>.</p>
