<h1>Thank you!</h1>

<p>You've successfully registered for the event.</p>

<p>To truly take advantage of Castnotice, you should finish setting up your account.</p>

<p>You'll receive an email shortly with instructions to set a password.
You can then set up your resume and start getting noticed!</p>
