<h1>Calendar Admin - View Role</h1>
<h3><%= @event.project_title %></h3>
<p>Description: <%= @role.description %></p>
<span class="glyphicon glyphicon-chevron-left"></span> <%= link_to "Back to Calendar", page_path("calendar") %>
