var api_filters = "<%= Rails.application.routes.url_helpers.categories_path %>";
var api_events = "<%= Rails.application.routes.url_helpers.events_path %>";
var urlSignIn = '<%= Rails.application.routes.url_helpers.new_user_session_path %>';
var urlRegister = '<%= Rails.application.routes.url_helpers.page_path("pricing") %>';
var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"];

var m = moment();
var from = m.startOf("month").format("YYYY-MM-DD");
var to = m.endOf("month").format("YYYY-MM-DD");

var search = {"date": {"start": from, "end": to}, filters: {}};
var eventDates = [""];
var eventCount;

function calendarBuild() {

  $("#my_preferences").change(function(){
    if ($(this).prop("checked")) {
      $('.calendar-checkbox input').prop("checked", false);
      $('.calendar-checkbox input.preference').prop("checked", true);
      calendarUpdate();
    } else {
      $('.calendar-checkbox input').prop("checked", false);
      calendarUpdate();
    }
  });

    $.ajax({
        url: api_filters,
        success: function(data) {
            $.each(data.filters, function(index, filter) {
              var key = filter.filter;
                $('.calendar-filters').append(
                        '<div class="calendar-option" id="filter-' + index + '" data-filter="' + key + '"><h3>' + filter.label + '</h3></div>'
                        );
                $.each(filter.values, function(i, option) {
                  var checked = $.inArray(parseInt(i), filter.selected_ids) != -1 ? "checked=checked class='preference'" : "";
                    $("#filter-" + index).append('<div class="calendar-checkbox"><input type="checkbox" ' + checked + ' id="filter-' + index + '-' + i + '" name="' + key + '" value="' + i + '"> <label for="filter-' + index + '-' + i + '">' + option + "</label></div>");
                });
            });
            $('.calendar-checkbox input').change(function() {
                $("#my_preferences").prop('checked', false);
                calendarUpdate();
            });
            calendarUpdate();
        },
        dataType: "json"
    });
}

function addAdminEventLinks(event_id, admin) {
  if (admin) {
    return '<div class="edit-event"><a href="/admin/events/' + event_id + '/edit">Edit</a></div>' +
           '<div class="delete-event"><a href="/admin/events/' + event_id + '" data-method="delete">Delete</a></div>' +
           '<div class="add-event-role"><a href="/admin/events/' + event_id + '/roles">Manage Roles</a></div>'
  } else {
    return ""
  }
}

function sentenceForUnions(unions) {
  union_names = unions.map(function(union) { return union.name });
  return union_names.join(', ');
}

function escapeHtml(str) {
  var div = document.createElement("div");
  div.appendChild(document.createTextNode(str));
  return div.innerHTML;
}

function calendarUpdate() {
    search.filters = {}
    $('.calendar-option').each(function() {
        var filterName = ($(this).attr('data-filter'));
        var filterValues = [];
        $(this).find('input').each(function() {
          if ($(this).prop('checked')) {
                filterValues.push($(this).val());
            }
        });
        if(search.filters[filterName]) {
          search.filters[filterName] = search.filters[filterName].concat(filterValues);
        } else {
          search.filters[filterName] = filterValues;
        }
    });


    $.ajax({
        url: api_events,
        data: search,
        success: function(data) {
            $('.calendar-events').html('');
            eventCount = 0;
            $.each(data.events, function(key, val) {
                date = new Date(val.audition_date);
                eventDates.push(date.getUTCFullYear() + '-' + (date.getUTCMonth() + 1) + '-' + date.getUTCDate());
                eventCount++;
                $('.calendar-events').append(
                        '<div class="calendar-event row" id="calendar-event-' + key + '" data-date="' + date.getUTCMonth() + '-' + date.getUTCDate() + '">' +
                        '<div class="calendar-date col-sm-2">' +
                        '<div class="calendar-month">' + monthNames[date.getUTCMonth()] + '</div>' +
                        '<div class="calendar-day">' + date.getUTCDate() + '</div>' + addAdminEventLinks(val.id, data.meta.admin) +
                        '</div>' +
                        '<div class="col-sm-10">' +
                        '<div class="calendar-name">' + escapeHtml(val.project_title) + '</div></h1>' +
                        '<div class="calendar-paid calendar-paid-' + val.paid + '">Paid?</div>' +
                        '<div class="calendar-stipend calendar-stipend-' + val.stipend + '">Stipend?</div>' +
                        '<div id="calendar-overview-' + key + '" class="calendar-overview clearfix">' +
                        '<div class="calendar-attribute region"><span>Region:</span> ' + val.region + '</div>' +
                        '<div class="calendar-attribute project-type"><span>Project Type:</span> ' + val.project_type + '</div>' +
                        '</div>' +
                        '<div id="calendar-detail-' + key + '" class="calendar-detail"></div>' +
                        '<div id="calendar-expand-' + key + '" class="calendar-shrink ">More Information</div>' +
                        '</div>'
                        );
                $('#calendar-expand-' + key).click(function() {
                    $('#calendar-detail-' + key).slideToggle("slow");
                    $(this).toggleClass('calendar-expand');
                });
                if (data.meta.member == true) {
                $('#calendar-detail-' + key).append(
                '<div class="calendar-description staff"><span>Staff:</span> ' + escapeHtml(val.staff) + '</div>',
                '<div class="calendar-description storyline"><span>Storyline:</span> ' + escapeHtml(val.storyline) + '</div>',
                '<div class="calendar-description how-to-audition"><span>How to Audition:</span> ' + escapeHtml(val.how_to_audition) + '</div>',
                '<div class="calendar-description special-notes"><span>Special Notes:</span> ' + escapeHtml(val.special_notes) + '</div>'
                );
                    $('#calendar-overview-' + key).append(
                            '<div class="calendar-attribute start-date"><span>Shoot/Start Date:</span> ' + val.start_date + '</div>',
                            '<div class="calendar-attribute unions"><span>Unions:</span> ' + sentenceForUnions(val.unions) + '</div>',
                            '<div class="calendar-attribute casting-director"><span>Casting Director:</span> ' + escapeHtml(val.casting_director) + '</div>',
                            '<div class="calendar-attribute location"><span>Location:</span> ' + escapeHtml(val.location) + '</div>'
                            );
                    if (val.roles.length){
                      $('#calendar-detail-' + key).append(
                      '<h3>Roles</h3>'
                      );
                      $.each(val.roles, function(i, role) {
                      $('#calendar-detail-' + key).append(
                    '<div class="calendar-event-role">',
                      '<div class="calendar-description seeking"><span>Seeking:</span> ' + escapeHtml(role.description) + '</div>',
                      '<div class="calendar-description gender"><span>Gender:</span> ' + escapeHtml(role.gender) + '</div>',
                      '<div class="calendar-description ethnicity"><span>Ethnicity:</span> ' + escapeHtml(role.ethnicity) + '</div>',
                      '<div class="calendar-description age"><span>Age:</span> ' + escapeHtml(role.age_min) + ' - ' + escapeHtml(role.age_max) + '</div>',
                      '</div>'
                    );
                      });
                    }

                            } else {
                            $('#calendar-detail-' + key).append(
                            '<p>To find out detailed information about this event, you must be logged into CastNotice. Please <a href="' + urlSignIn + '">Sign in</a> or <a href="' + urlRegister + '">Register</a></p></div>'
                            );
                }
            });
            if (eventDates.length === 1) {
                $('.calendar-events').html('<p>Sorry, no events match your search criteria, please change your selection.</p>');
            }
            $("#calendar-datepicker").datepicker({"onChangeMonthYear": function(year, month) {
                    // Moment.month() expects zero-based month, datepicker callback returns typical month integer, thus subtract by 1
                    m = moment().month(month - 1).year(year);
                    search.date.start = m.startOf("month").format("YYYY-MM-DD");
                    search.date.end   = m.endOf("month").format("YYYY-MM-DD");
                    calendarUpdate();
                },
                beforeShowDay: function(date) {
                    var m = date.getUTCMonth(), d = date.getUTCDate(), y = date.getUTCFullYear();
                    for (i = 0; i < eventDates.length; i++) {
                    if ($.inArray(y + '-' + (m + 1) + '-' + d, eventDates) !== -1) {
                    return [true, 'calendar-matched-event-date'];
                        }
                        return [false, 'calendar-not-matched-event-date'];
                    }
                },
                onSelect: function(date) {
                date = new Date(date);
                target = $('[data-date="' + date.getUTCMonth() + '-' + date.getUTCDate() + '"]');
                    $("html,body").animate({scrollTop: target.offset().top}, 500);
                }
            });
        }
    });
}
