/*The styles set here are for the user to see when you're in print preview*/

h1 {
  font-size: 25px;
  text-align: left;
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

th, h4 {
  font-size: 15px;
}

table.print-content {
  font-size: 12px;
  border: 0;
  width: 100%;
}

.resume-photo {
  vertical-align: top;
  width: 20%;
}

.resume-photo img {
  max-width: 250px;
}

td.contact-info {
  padding: 0 0 0 20px;
  vertical-align: top;
  box-sizing: border-box;
}

td.contact-info table {
  width: 100%;
}

td.contact-info table tr > td {
  vertical-align: top;
  width: 50%;
}

td.contact-info table.project tr > td {
  width: 25%;
}

td.contact-info table.project tr > td:last-child {
  width: 50%;
}

table tr td.training {
  width: 100%;
}

table tr td.training table th {
  font-size: 15px;
}
