<div class="row repeatable-row">
  <% if @headshot %>
    <% @headshots.each do |headshot| %>
      <div class="col-md-4">
        <div class="headshot"><%= image_tag(headshot.image_url(:thumb)) %></div>
        <%= link_to "Delete", headshot_path(headshot), method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>