<div class="video">
  <%= render "shared/video_player", video: video %>
	<div class="video-links">
      <span class="glyphicon glyphicon-trash"></span> <%= link_to "Delete", video_path(video), method: :delete %>
	 </div>
</div>
