<footer>
  <div class="row">
    <div class="col-sm-6">
      <ul class="footer-nav">
        <li><%= link_to "Privacy Policy", "/privacy" %></li>
        <li><%= link_to "Terms & Conditions", "/tos", class: "lastnav" %></li>
      </ul>
    </div>

    <div class="col-sm-6" id="copyright">
      <p>Copyright Cast Notice 2014</p>
    </div>
  </div>
</footer>