<footer>
  <div class="row">
    <div class="col-sm-8">
      <ul class="footer-nav">
        <li><%= link_to "CastNotice Home", page_path("index") %></li>
        <li><%= link_to "FAQ", page_path("faq") %></li>
        <li><%= link_to "Privacy Policy", page_path("privacy") %></li>
        <li><%= link_to "Terms & Conditions", page_path("tos"), class: "lastnav" %></li>
      </ul>
    </div>

    <div class="col-sm-4" id="copyright">
      <p>Copyright Cast Notice 2014</p>
    </div>
  </div>
</footer>